<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="home.css">
    <title> Streaming </title>

    <!-- fontawesone icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    

</head>

<body id="page-top">
    <h2> <h1>title</h1></h2>
    <div class="log"><h2>Streaming</h2></div>

    <div class="nav">
        <ul>
            <li> <a href="">Home</a> </li>
            <li> <a href="">film</a> </li>
            <li> <a href="">serie</a> </li>
            <li> <a href="">genere</a> </li>
        </ul>
    </div>
    <div class="user">
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-bell"></i>
        <a href="">Login</a>
    </div>
    <div>
        <i class="fa-solid fa-envelope"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-youtube"></i>
    </div>
    
        <a href="#page-top" class="scroll-to-top rounded js-scroll-trigger">
        <i class="fa-solid fa-angle-up"></i>
        </a>
    </div>

</body>
</html>