{% extends './bar.html' %}
{% load static %}
{% block content %}

<style>
    #page-top{
        background-color: #00010c;
        /* margin-top: 5px; */
    }
    .container{
        max-height: 90%;
        border: 1px ;
      }
      h2{
        margin-left: 2px;
      }
      
      .container .col{
        min-width: 350px;
        height: 250px;
        text-align: center;
      }

      img{
    margin-right: 1%;
    margin-bottom: 3%;
    margin-top: 3%;
    width:  280px;
    height: 180px;
    cursor: pointer;
    box-shadow: -4px 4px 5px 0 #000;
    transition: 0.8s;
    border-radius: 6px;
}
.card-title{
    color: #ffffff;
    font-size: 15px;
}
.card-text {
    color: #ffffff;
    font-size: 12px;
}
      
</style>

<center> <h3> liste des vidéos à regarder plus tard  </h3> </center>

 <section id="favorite">
    <div class="container">
       <div class="row Movies"id="music">
    {% for object in object_list %}
        <div class="col " >
            {% if  object.type == 'music' %}
                    <div  >
                        <a href='http://127.0.0.1:8000/music/{{object.music.id}}'><img src={{object.music.image.url}}></a>
                        <h5 class='card-title text-center '>{{object.music.title}}</h5>
                        <p class='card-text text-center '>{{object.music.chanteur}}</p>
                    </div>    

            {% elif object.type == 'film' %}
                <div  >
                    <a href='http://127.0.0.1:8000/film/{{object.film.id}}'><img src={{object.film.image.url}}></a>
                    <h5 class='card-title text-center '>{{object.film.title}}</h5>
                    <p class='card-text text-center '>{{object.film.acteur}}</p>
                </div>

            {% elif object.type == 'episode' %}
                <div  >
                    <a href='http://127.0.0.1:8000/episode/{{object.episode.id}}'><img src={{object.episode.image.url}}></a>
                    <h5 class='card-title text-center '>{{object.episode.title}}</h5>
                    <p class='card-text text-center '>{{object.episode.Chaine}}</p>
                </div>
             
            {% elif object.type == 'documentaire' %}
                <div class="" >
                    <a href='http://127.0.0.1:8000/documentaire/{{object.documentaire.id}}'><img src={{object.documentaire.image.url}}></a>
                    <h5 class='card-title text-center '>{{object.documentaire.title}}</h5>
                    <p class='card-text text-center '>{{object.documentaire.Chaine}}</p>
                </div>
            {% else %}

            <h5> Video not found</h5>
            
            {% endif %}
       </div>  
    {% endfor %}
        </div>
    </div>
 </section>


{% endblock content %}
