{% extends "account/base.html" %}

{% load i18n %}



{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
  <div class="myCard">
        <div class="row">
            <div class="col-md-6">
                <div class="myLeftCtn">
                    <div class="box">
                        <header>  {% block head_title %}{% trans "Change Password" %}{% endblock %}  </header>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="myRightCtn" >
                    {% if error %}
                    {{error}}
                    {% endif %}
                    <form method="POST" action="{% url 'change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" name="action" >{% trans "Change Password" %}</button> <br/>
                        <a href="{% url 'account_reset_password' %}" style="margin-left: 55px;">{% trans "Forgot Password?" %}</a>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}
