{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<h1 style="font-size: 20px; font-weight:bold; color: slateblue; margin-top: 50px;">{% trans "Sign Up" %}</h1>



<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
      <div class="container">
        <div class="myCard">
          <div class="row">
            <div class="col-md-6">
              <div class="myLeftCtn">
                <div class="box">
                  <header>  Bienvenue sur Streaming  </header>
                  <p class="text-white">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
                <div class="myRightCtn" >
                    <!-- <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" style="margin-top: 0px;"> -->
                    <header > <h1> Inscription </h1> </header>
                    
                    <!-- {{ form.as_p }} -->
                    <form method="POST" action="/inscription/">
                      {% csrf_token %}
                        {{form_extend_user.as_p}}
                        <input type="submit" name="Inscription">
                    </form>
                    
                </div>

          </div>
        </div>
      </div>

{% endblock %}
